<!DOCTYPE html>
<html lang="en">


<head>
    <title><%= locals.title  %>></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Admin template that can be used to build dashboards for CRM, CMS, etc." />
    <meta name="author" content="Potenza Global Solutions" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="admin/assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="admin/assets/css/style.css" />
    <style>
        .unlock{
             cursor: pointer;
        }
    </style>
</head>

<body class="bg-white">
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="admin/assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->

            <!--start login contant-->
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-6 col-lg-5 col-xl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="login p-50 w-100">
                                        <div class="bg-img">
                                            <i class="dashicons dashicons-admin-users" style="font-size:x-large;"></i>
                                            <!--<img src="admin/assets/img/avtar/01.jpg" class="img-fluid" alt="Clients-01">-->
                                        </div>
                                        <h4 class="mt-4" id="displayAdmin"></h4>
                                        <span class="mt-1"><i class="fa fa-lock"></i> Locked</span>
                                        <p class="mt-4 mb-0">You must enter your password to access admin screen</p>
                                         <div id="msg"></div>
                                        <div class="input-group my-3">
                                            <input type="password" class="form-control" id="password" placeholder="Enter Password" aria-label="" aria-describedby="basic-addon2">
                                            <input type="hidden"  id="username" value="">
                                            <div class="input-group-append">

                                                <span class="input-group-text unlock" id="basic-addon2" ><i class="fa fa-unlock"></i></span>
                                            </div>
                                        </div>
                                        <p class="mt-4 mb-0">Or sign in as a <a class="text-primary" href="/admin">Different user</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="admin/assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end login contant-->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->



    <!-- plugins -->
    <script src="admin/assets/js/vendors.js"></script>

    <!-- custom app -->
    <script src="admin/assets/js/app.js"></script>
    <script src="admin/assets/js/admin.js"></script>
    <script>
        $(document).ready(function(){
             let getadmin = localStorage.getItem('displayAdmin');
             $('#displayAdmin').text(getadmin);
             $('#username').val(getadmin);

        })
    </script>
</body>


</html>