<%- include('admin_template/header') %>
    <%- include('admin_template/aside') %>
        <!-- begin app-main -->
        <div class="app-main" id="main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-12 m-b-30">
                        <!-- begin page title -->
                        <div class="d-block d-sm-flex flex-nowrap align-items-center">
                            <div class="page-title mb-2 mb-sm-0">
                                <h1>Banner</h1>
                            </div>
                            <div class="ml-auto d-flex align-items-center">
                                <nav>
                                    <ol class="breadcrumb p-0 m-b-0">
                                        <li class="breadcrumb-item">
                                            <a href="/Dashboard"><i class="ti ti-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            Pages
                                        </li>
                                        <li class="breadcrumb-item active text-primary" aria-current="page">Banner</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                </div>
                <!-- end row -->
                <!-- start-clients contant-->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-statistics clients-contant">
                           
                            <div class="card-body py-0 table-responsive">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card py-0" style="margin-top: 4%;">
                                            <form id="bigbanner" enctype="multipart/form-data">
                                                <div class="form-group">
                                                     <div id="msg"></div>
                                                    <label for="exampleInputEmail1" style="margin-left: 2%; margin-top: 2%;">Upload Big Banner</label>
                                                    <div class="input-group"  style="width: 95%; margin-left: 2%;" >
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="image"
                                                                aria-describedby="inputGroupFileAddon04">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile04">Choose
                                                                file</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                 <button type="submit" class="btn btn-primary" style="margin-bottom: 4%;margin-left: 2%;">Upload Big Banner</button>
                                            </form>

                                        </div>
                                    </div><!--End of col1-->

                                    <div class="col-md-6">
                                        <div class="card py-0" style="margin-top: 4%;">
                                            <form id="sidebanner1" enctype="multipart/form-data">
                                                <div class="form-group">
                                                     <div id="msg"></div>
                                                    <label for="exampleInputEmail1" style="margin-left: 2%; margin-top: 2%;">Upload Side Banne (One)</label>
                                                    <div class="input-group"  style="width: 95%; margin-left: 2%;" >
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="image"
                                                                aria-describedby="inputGroupFileAddon04">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile04">Choose
                                                                file</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                 <button type="submit" class="btn btn-primary" style="margin-bottom: 4%;margin-left: 2%;">Upload Side Banner (One)</button>
                                            </form>

                                        </div>
                                    </div><!--End of col2-->


                                    <div class="col-md-6">
                                        <div class="card py-0" style="margin-top: 4%;">
                                            <form id="sidebanner2" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1" style="margin-left: 2%; margin-top: 2%;">Upload Side Banner (Two)</label>
                                                    <div class="input-group"  style="width: 95%; margin-left: 2%;" >
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="image"
                                                                aria-describedby="inputGroupFileAddon04">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile04">Choose
                                                                file</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                 <button type="submit" class="btn btn-primary" style="margin-bottom: 4%;margin-left: 2%;">Upload Side Banner (Two)</button>
                                            </form>

                                        </div>
                                    </div><!--End of col3-->
                                   
                                    <div class="col-md-6">
                                        <div class="card py-0" style="margin-top: 4%;">
                                            <form id="sidebanner3" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1" style="margin-left: 2%; margin-top: 2%;">Upload Side Banner (Three)</label>
                                                    <div class="input-group"  style="width: 95%; margin-left: 2%;" >
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="image"
                                                                aria-describedby="inputGroupFileAddon04">
                                                            <label class="custom-file-label"
                                                                for="inputGroupFile04">Choose
                                                                file</label>
                                                        </div>

                                                    </div>
                                                </div>
                                                 <button type="submit" class="btn btn-primary" style="margin-bottom: 4%;margin-left: 2%;">Upload Side Banner (Three)</button>
                                            </form>

                                        </div>
                                    </div><!--End of col4-->

                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-clients contant-->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
        <%- include('admin_template/footer') %>